*.pyc
*~
*.o
*.so
_build/
_static/
_templates/
build/
gippy.egg-info/
*.aux.xml

gippy/gippy.py
gippy/gippy_wrap.cpp
gippy/algorithms.py
gippy/algorithms_wrap.cpp
/.vs
*.vsp
*.psess
*.vspx
/x64/Debug
/Gippy.vcxproj.user
/Gippy.vcxproj.filters
/x64
*.filters
*.user
